.navbar {
  width: auto;
  padding: 1px;
  margin-top: 1.5px;
  border-radius: 25px;
  background-color: $light-blue-color;

  .navbar-nav .nav-link {
    padding: 15px 15px 15px;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 1.1em;
    color: #fff;

    &:hover {
      margin-bottom: -3px;
      color: #000;
    }
  }

  .dropdown-menu {
    color: $primary-color;
    background-color: $primary-color-light;

    &:hover {
      background-color: $primary-color-light;
    }
  }
}

.table {
  background-color: #fff;
}

.logo {
  width: 300px;
  height: 140px;
  margin-left: left;
}

